<h1>All Ideas</h1>
<div>
<% @ideas.each do |idea| %>
<h3><%= idea.title %></h3>
<%= idea.description %><br>
<%= link_to "Delete", user_idea_path(@user, idea), method: "delete" %>
<% end %>
</div>

<%= link_to "Create New Idea", new_user_idea_path %>
